.profile-card{

    max-width:900px;

    margin:auto;

    border-radius:18px;

}

.card-header{

    border-top-left-radius:18px;

    border-top-right-radius:18px;

}

.card-body{

    font-size:16px;

}

hr{

    margin:15px 0;

}

.badge{

    font-size:14px;

    padding:8px 14px;

}