# Visual Studio
.vs/

# Build output
bin/
obj/

# User-specific files
*.user
*.suo

# VS Code
.vscode/

# Rider
.idea/

# Sonarqube
.sonarqube/

# Test Results
HealthCare-Appointments-Portal-Tests/TestResults/