<nav class="ha-navbar navbar navbar-expand-lg fixed-top">

    <div class="container">

        <a class="navbar-brand ha-brand">

            <div class="ha-logo">

                <i class="bi bi-heart-pulse-fill"></i>

            </div>

            <div>

                <div class="ha-brand-title">

                    HealthAxis

                </div>

                <small>

                    Smart Healthcare

                </small>

            </div>

        </a>

        <button
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#menu">

            <i class="bi bi-list"></i>

        </button>

        <div class="collapse navbar-collapse justify-content-end"
             id="menu">

            <ul class="navbar-nav align-items-lg-center">

                <li class="nav-item">

                    <a class="nav-link">

                        Home

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link">

                        Services

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link">

                        Doctors

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link">

                        About

                    </a>

                </li>

                <li class="nav-item ms-lg-4">

                    <button
                        routerLink="/login"
                        class="ha-login-btn">

                        Login

                    </button>

                </li>

            </ul>

        </div>

    </div>

</nav>