/* Bootstrap */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Bootstrap Icons */
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Toastr */
@import "ngx-toastr/toastr";

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    font-family:'Poppins',sans-serif;
    background:#f5f7fb;
}

body{
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
}