# Ignore Visual Studio workspace files and build artifacts
.vs/
**/bin/
**/obj/
 
# Optional project-specific ignores
*.user
*.suo
*.userosscache
*.sln.docstates
 
*.lscache
 
.TestResults/
# SonarQube
.sonar/
.sonarqube/
sonar-project.properties.user
coverage.xml
dotnet-tools.json
 
/packages/