<div class="app-popup-backdrop" *ngIf="visible">
  <div class="app-popup" [ngClass]="type">
    <div class="popup-icon" [ngClass]="type">
      <span *ngIf="type === 'success'">✓</span>
      <span *ngIf="type === 'error'">!</span>
      <span *ngIf="type === 'warning'">⚠</span>
    </div>

    <h2>{{ title }}</h2>
    <p>{{ message }}</p>

    <div class="popup-actions">

  <ng-container *ngIf="type !== 'warning'; else confirmButtons">

    <button
      class="popup-ok-btn"
      type="button"
      (click)="close()">
      OK
    </button>

  </ng-container>

  <ng-template #confirmButtons>

    <button
      class="popup-cancel-btn"
      type="button"
      (click)="close()">
      Close
    </button>

    <button
      class="popup-logout-btn"
      type="button"
      (click)="confirmed.emit()">
      Logout
    </button>

  </ng-template>

</div>
  </div>
</div>
