<div class="sidebar">

    <ul>

        @if(role === 'Patient') {

            <li>
                <a routerLink="/patient/dashboard"
                   routerLinkActive="active">
                    🏠 Dashboard
                </a>
            </li>

            <li>
                <a routerLink="/patient/search-doctors"
                   routerLinkActive="active">
                    🔍 Search Doctors
                </a>
            </li>

            <li>
                <a routerLink="/patient/book-appointment"
                   routerLinkActive="active">
                    📅 Book Appointment
                </a>
            </li>

            <li>
                <a routerLink="/patient/my-appointments"
                   routerLinkActive="active">
                    🗓️ My Appointments
                </a>
            </li>

            <li>
                <a routerLink="/patient/health-history"
                   routerLinkActive="active">
                    📄 Health History
                </a>
            </li>

            <li>
                <a routerLink="/patient/profile"
                   routerLinkActive="active">
                    👤 My Profile
                </a>
            </li>

        }

        @if(role === 'Doctor') {

            <li>
                <a routerLink="/doctor/dashboard"
                   routerLinkActive="active">
                    🏠 Dashboard
                </a>
            </li>

            <li>
                <a routerLink="/doctor/schedule"
                   routerLinkActive="active">
                    📅 Today's Schedule
                </a>
            </li>

            <li>
                <a routerLink="/doctor/health-record"
                   routerLinkActive="active">
                    🩺 Add Health Record
                </a>
            </li>

            <li>
                <a routerLink="/doctor/leave"
                   routerLinkActive="active">
                    🌴 Add Leave
                </a>
            </li>

            <li>
                <a routerLink="/doctor/profile"
                   routerLinkActive="active">
                    👤 My Profile
                </a>
            </li>

        }

        <li>
            <a (click)="logout()">
                🚪 Logout
            </a>
        </li>

    </ul>

</div>