.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.patient-item {
  background: #1e293b;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

  .patient-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }

    .patient-item a:hover {
      color: #22c55e;
    }

.back-btn {
  margin-bottom: 15px;
  padding: 10px 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

  .back-btn:hover {
    background-color: #1565c0;
  }
