.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.appointment-card {
  background: #1e293b;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.back-btn {
  margin-bottom: 15px;
  padding: 10px 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

  .back-btn:hover {
    background-color: #1565c0;
  }

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.page-number {
  font-weight: bold;
  font-size: 16px;
}

.pagination button {
  width: auto;
  padding: 10px 20px;
}
