# Visual Studio
.vs/

# Build folders
bin/
obj/

# User-specific files
*.user
*.suo

# Node
/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*